.list {
  min-height: 100px;
  margin-right: 24px;
  min-width: 320px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.card-body {
  min-height: 230px;
}