.nav-active {
    color: aliceblue;
    text-decoration: none;
    padding: 6px 12px;
    background-color: #0d6efd;
    border-radius: 4px;
}

.nav {
    color: #0d6efd;
    text-decoration: none;
    padding: 6px 12px;
}